<form [formGroup]="productTypeForm">
  <h2 mat-dialog-title>{{pageTitle}}</h2>
  <mat-dialog-content>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="ProductTypeName" [ngClass]="{'is-invalid': displayMessage.ProductTypeName }"
          (blur)="blur()" />
        <mat-error *ngIf="displayMessage.ProductTypeName">{{displayMessage.ProductTypeName}}</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button-color="primary" [disabled]="!productTypeForm.valid" (click)="save()">
      <mat-icon>save</mat-icon> Save
    </button>
    <button mat-button-color="primary" (click)="dismiss()">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
  </mat-dialog-actions>
  <br/>
  <div *ngIf="errorMessage$ | async as errorMessage" class="alert alert-danger">
    Error: {{ errorMessage }}
  </div>
</form>