<h2>Units of Measure</h2>
<div class="spinner-container" *ngIf="loading$ | async">
  <mat-spinner></mat-spinner>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="UnitMeasureCode">
    <th mat-header-cell *matHeaderCellDef>
      <div fxLayout="column" fxLayoutAlign="space-evenly">
        <span mat-sort-header> Code </span>
        <div class="searchBox" fxLayout="row">
          <mat-icon [inline]="true">search</mat-icon>
          <input class="searchInput" matInput id="UnitMeasureCodeSearch">
        </div>
      </div>
    </th>
    <td mat-cell *matCellDef="let unitMeasure"> {{unitMeasure.UnitMeasureCode}} </td>
  </ng-container>

  <ng-container matColumnDef="UnitMeasureName">
    <th mat-header-cell *matHeaderCellDef>
      <div fxLayout="column" fxLayoutAlign="space-evenly">
        <span mat-sort-header> Name </span>
        <div class="searchBox" fxLayout="row">
          <mat-icon [inline]="true">search</mat-icon>
          <input class="searchInput" matInput id="UnitMeasureNameSearch">
        </div>
      </div>
    </th>
    <td mat-cell *matCellDef="let unitMeasure"> {{unitMeasure.UnitMeasureName}} </td>
  </ng-container>

  <ng-container matColumnDef="ActionUpdate">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let unitMeasure">
      <button mat-button-color="primary" (click)="updateUnitMeasure(unitMeasure)">
        <mat-icon>update</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="ActionDelete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let unitMeasure">
      <button mat-button-color="primary" (click)="deleteUnitMeasure(unitMeasure)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" (click)="onRowClicked(row)"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
<button mat-button-color="primary" (click)="newUnitMeasure()">
  <mat-icon>create</mat-icon> Add UnitMeasure
</button>
<br/><br/>
<div *ngIf="errorMessage$ | async as errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>